.prev-container {
  position: sticky;
  top: 20px;
  background-color: rgb(236, 236, 236);
  word-break: break-all;
  border-radius: 5px;
  width: 800px;
  min-height: 800px;
  margin-bottom: 50px;
  height: max-content;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.prev-container h2,
.prev-container h3,
.prev-container h4 {
  color: rgb(20, 62, 114)
}

.name-role {
  padding: 20px;
  border-radius: 5px 5px 0 0 ;
  background-color: rgb(20, 62, 114);
  color: white;
  min-height: 120px;
  height: max-content;
}

.name-role h1 {
  font-size: 40px;
  line-height: 50px;
}

.name-role h3 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 220px;
  padding: 20px 0 20px 20px;
  column-gap: 30px;
}

.description p {
  margin-top: 20px; 
}

.personal-details {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  grid-area: 1 / 2 / 3 / -1;
  height: 100%;
}

.main-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
  margin-top: 10px;
}

.years {
  grid-area: 1 / 1 / -1 / 2;
  font-weight: 450;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.bold {
  font-weight: 450;
}